@model AdminUserViewModel

@{
    ViewData["Title"] = "User Management";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h1 class="mb-2">@ViewData["Title"]</h1>
        </div>
        <div class="col-md-4 text-md-end">
            <a asp-action="CreateUser" class="btn btn-primary btn-add-user">Create User</a>
        </div>
    </div>

    <div class="table-container mt-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Roles</th>
                    <th><Actions</th> <!-- For the Edit actions -->
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>
                            @{
                                var roles = await Model.UserManager.GetRolesAsync(user);
                            }
                            @foreach (var role in roles)
                            {
                                <span>@role</span>
                            }
                        </td>
                        <td class="text-end">
                            <a asp-action="EditUser" asp-route-id="@user.Id" class="text-primary">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
