@model BestReg.Data.VetAppointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VetAppointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VetAdminId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VetAdminId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBooked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBooked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canceled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canceled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeclineReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeclineReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeclined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeclined)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNotified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNotified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
