@model IEnumerable<BestReg.Data.VetAppointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VetAdminId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBooked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Canceled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeclineReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeclined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNotified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VetAdminId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBooked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Canceled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeclineReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeclined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNotified)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>

}
    </tbody>

</table>
<ul>
    <li><a asp-action="DiagnosisCheckup">Perform Diagnosis Checkup</a></li>
    <li><a asp-action="ScheduleVaccination">Schedule Vaccination</a></li>
    <li><a asp-action="RecordFeeding">Record Feeding</a></li>
    <li><a asp-action="RequestRestock">Request Nutrition Restock</a></li>
    <li><a asp-action="MedicalRecords">View Medical Records</a></li>
    <li><a asp-action="CostAnalysis">Cost Analysis Report</a></li>
    <li><a asp-action="ScheduleEvent">Schedule Event</a></li>
</ul>
